<% if @support.errors.any? %>
  <ul>
    <% @support.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @support do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :department %> : 
  <%= f.radio_button(:department, "Sales") %>
  <%= f.label(:sales, "Sales") %>
  <%= f.radio_button(:department, "Marketing") %>
  <%= f.label(:marketing, "Marketing") %>
  <%= f.radio_button(:department, "Technical") %>
  <%= f.label(:technical, "Technical") %>
</div>

<div class="form-group">
  <%= f.label :message %>
  <%= f.text_area :message, class: "form-control" %>
</div>

<%= f.submit class: "btn btn-primary" %>

<% end %>